.wrapper{
    position: absolute;
    z-index: 100;
    display: grid;
    grid-template-columns: auto auto;
    top: 0;
    bottom: 0;
}

.isOpened{
    left: 9px;
    grid-template-columns: auto auto 1fr;
    width: 100%;
}
.spacer {
    width: 100vw;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .wrapper{
        --side-width: calc( (1200px / 12) * 4);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .wrapper{
        --side-width: calc( (992px / 12) * 5);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .wrapper{
        --side-width: calc( (768px / 12) * 6);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .wrapper{
        --side-width: calc( (576px / 12) * 6);
    }
}

@media (max-width: 575px ) {

    /* 
    position: absolute;
    z-index: 100;
    display: grid;
    grid-template-columns: auto auto;
    top: 0;
    bottom: 0;
    */


    .wrapper{
        /* z-index: 100; */
        position: absolute;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto auto;
    }
    .wrapper.isOpened{
        left: 0;
    }

    .wrapper.isClosed{
        width: 0;
    }

    .iconWrapper{
        /* background-color: black; */
        height: 100%;
        /* border-right: 1px solid; */
        width: 10px;
        
        display: grid;
        grid-template-rows: 1fr auto 1fr;
    }
    .icon{
        grid-row: 2/3;
        transform: scale(1) rotate(0);
        opacity: .3;
        transition: all .3s;
    }

    .isOpened .spacer{
        visibility: collapse;
        width: 0;
    }

}



.iconWrapper{
    /* background-color: black; */
    height: 100%;
    border-right: 1px solid;
    width: 10px;
    
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}
.icon{
    grid-row: 2/3;
    transform: scale(1) rotate(0);
    opacity: .3;
    transition: all .3s;
}
.iconWrapper.is_opened .icon{
    transform: scale(1) rotate(180deg);
}
.iconWrapper.is_opened:hover .icon{
    opacity: 1;
    transform: scale(1.5) rotate(180deg);
}
.iconWrapper:hover .icon{
    opacity: 1;
    transform: scale(1.5) rotate(0);
}
.is_opened .icon{
    margin-right: 2px;
}

.contentContainer{
    /* background-color: black; */
    width: var(--side-width);
    height: 100%;
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
}
.isClosed{
    width: 0px;
}